<div class="accordion shadow" id="accordionExample">
  <div class="card">
    <div class="card-header d-flex justify-content-between text-white bg-color-primary-3">
      <span class="p-0">{{ grpeCompetence.libelle | summarize: 10}}</span>
      <span>
        <i class="far fa-print btn btn-sm text-white" title="Imprimer"></i>
        <i class="fas fa-pencil-alt btn btn-sm text-white" title="Modifier"></i>
        <i class="fas fa-times btn btn-sm text-white" title="Supprimer"></i>
      </span>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#description'" aria-expanded="false" aria-controls="collapseTwo">
          Description
        </button>
      </h2>
    </div>
    <div [id]="'description'" class="collapse" [attr.aria-labelledby]="'headingOne'" data-parent="#accordionExample">
      <div class="card-body"> {{grpeCompetence.descriptif | summarize: 10}} </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#competence'" aria-expanded="false" aria-controls="collapseTwo">
          Compétences
        </button>
      </h2>
    </div>
    <div [id]="'competence'" class="collapse" [attr.aria-labelledby]="'headingTwo'" data-parent="#accordionExample">
      <div class="card-body">
        <div class="alert alert-dismissible bg-color-primary-1 text-white" *ngFor="let competence of grpeCompetence.competences">
          <strong>{{competence.libelle}}</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#tags'" aria-expanded="false" aria-controls="collapseThree">
          Tags
        </button>
      </h2>
    </div>
    <div [id]="'tags'" class="collapse" [attr.aria-labelledby]="'headingThree'" data-parent="#accordionExample">
      <div class="card-body">
        <div class="alert alert-dismissible bg-color-primary-1 text-white">
          <strong>tag</strong>
        </div>
      </div>
    </div>
  </div>
</div>
