<form formGroup class="mt-4">
  <div class="form-group row">
    <label for="inputLangue" class="col-sm-3 col-form-label">Choix de la langue</label>
    <div class="col-sm-5">
      <div class="form-group">
        <select class="form-control" name="" id="inputLangue">
          <option>Choix de la langue</option>
          <option></option>
          <option></option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputTitre" class="col-sm-3 col-form-label">Titre</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" id="inputTitre"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDescription" class="col-sm-3 col-form-label">Description de la promotion</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" id="inputDescription"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputLieu" class="col-sm-3 col-form-label">Lieu de la promotion</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" id="inputLieu"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputRefAgate" class="col-sm-3 col-form-label">Reference agate</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" id="inputRefAgate"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputFabrique" class="col-sm-3 col-form-label">Choix de la fabrique</label>
    <div class="col-sm-5">
      <div class="form-group">
        <select class="form-control" name="" id="inputFabrique">
          <option>Choix de la fabrique</option>
          <option></option>
          <option></option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputStartedAt" class="col-sm-3 col-form-label">Date de debut</label>
    <div class="col-sm-5">
      <input type="date" class="form-control" name="" id="inputStartedAt"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEndedAt" class="col-sm-3 col-form-label">Date de fin</label>
    <div class="col-sm-5">
      <input type="date" class="form-control" name="" id="inputEndedAt"/>
    </div>
  </div>

  <div class="form-group row d-flex justify-content-center mt-4">
    <button type="submit" class="btn bg-color-primary-3 btn-lg text-white ">Soumettre</button>
  </div>
</form>


