<div class="card mt-2 shadow-lg">
  <div class="card-body shadow-lg m-0">
    <div id="stepper1" class="bs-stepper">
      <div class="bs-stepper-header">
        <div class="step" data-target="#test-l-1">
          <button class="step-trigger">
            <span class="bs-stepper-circle">1</span>
            <span class="bs-stepper-label">Promo</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-2">
          <button class="step-trigger">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Apprenants</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-3">
          <button class="step-trigger">
            <span class="bs-stepper-circle">3</span>
            <span class="bs-stepper-label">Validate</span>
          </button>
        </div>
      </div>
      <div class="bs-stepper-content">
        <form formGroup (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
          <div id="test-l-1" class="content">
            <div class="form-group row m-0">
              <label for="inputLangue" class="col-sm-3 col-form-label">Choix de la langue</label>
              <div class="col-sm-5">
                <div class="form-group m-0">
                  <select class="form-control" name="" id="inputLangue" required>
                    <option>Choix de la langue</option>
                    <option></option>
                    <option></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group row m-1">
              <label for="inputTitre" class="col-sm-3 col-form-label">Titre</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="" id="inputTitre"/>
              </div>
            </div>
            <div class="form-group row m-1">
              <label for="inputDescription" class="col-sm-3 col-form-label">Description de la promotion</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="" id="inputDescription"/>
              </div>
            </div>
            <div class="form-group row m-1">
              <label for="inputLieu" class="col-sm-3 col-form-label">Lieu de la promotion</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="" id="inputLieu"/>
              </div>
            </div>
            <div class="form-group row m-1">
              <label for="inputRefAgate" class="col-sm-3 col-form-label">Reference agate</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="" id="inputRefAgate"/>
              </div>
            </div>
            <div class="form-group row m-1">
              <label for="inputFabrique" class="col-sm-3 col-form-label">Choix de la fabrique</label>
              <div class="col-sm-5">
                <div class="form-group m-0">
                  <select class="form-control" name="" id="inputFabrique">
                    <option>Choix de la fabrique</option>
                    <option></option>
                    <option></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group row m-1">
              <label for="inputStartedAt" class="col-sm-3 col-form-label">Date de debut</label>
              <div class="col-sm-5">
                <input type="date" class="form-control" name="" id="inputStartedAt"/>
              </div>
            </div>
            <div class="form-group row m-1">
              <label for="inputEndedAt" class="col-sm-3 col-form-label">Date de fin</label>
              <div class="col-sm-5">
                <input type="date" class="form-control" name="" id="inputEndedAt"/>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button type="button" (click)="next()" class="btn text-white bg-color-primary-3">Next</button>
            </div>
          </div>
          <div id="test-l-2" class="content">
            <div class="form-group m-0">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
            </div>
            <div class="d-flex justify-content-center m-1">
              <button type="button" (click)="previous()" class="btn text-white bg-color-primary-3 mr-sm-2">Previous</button>
              <button type="button" (click)="next()" class="btn text-white bg-color-primary-3 ml-sm-2">Next</button>
            </div>
          </div>
          <div id="test-l-3" class="content text-center m-1">
            <div class="d-flex justify-content-center">
              <button type="button" (click)="previous()" class="btn text-white bg-color-primary-3 mr-sm-2">Previous</button>
              <button type="submit" class="btn text-white bg-color-primary-3 mr-sm-2">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


