<div class="card mt-4 shadow-lg">
  <div class="card-body shadow-lg">
    <div class="row">
      <div class="col-sm-10">
        <h2 class="text-center">Liste des utilisateurs</h2>
      </div>
      <div class="col-sm">
        <span class="btn" [routerLink]="['/admin/add-users']"><i class="fas fa-user-plus "></i></span>
      </div>
    </div>
    <div class="table-responsive mt-2">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Mail</th>
            <th scope="col">Profil</th>
            <th scope="col" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users" >
            <th scope="row">{{user.lastname}}</th>
            <td>{{user.firstname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.profil.libelle|lowercase}}</td>
            <td class="">
              <button class="btn" title="Détails" [routerLink]="['/admin/detail-user',user.id]" ><i class="far fa-info-circle"></i></button>
              <button class="btn text-warning" title="Editer"><i class="fas fa-edit"></i></button>
              <button class="btn text-danger" title="Supprimer"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row mt-2">
      <div class="col-sm-10">
        <div class="d-flex justify-content-end" aria-label="Page navigation example">
          <button class="btn bg-color-primary-2 text-white mr-2" [disabled]="!isPrevious" (click)="first()">
            <span aria-hidden="true" ><i class="fas fa-fast-backward"></i></span>
          </button>
          <button class="btn bg-color-primary-2 text-white mr-2" [disabled]="!isPrevious" (click)="previous()">
            <span aria-hidden="true" >&laquo;</span>
          </button>

          <button class="btn bg-color-primary-2 text-white ml-3" (click)="next()" [disabled]="!isNext">
            <span aria-hidden="true">&raquo;</span>
          </button>
          <button class="btn bg-color-primary-2 text-white ml-3" (click)="last()" [disabled]="!isNext">
            <span aria-hidden="true"><i class="fas fa-fast-forward"></i></span>
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
