<div class="card shadow">
  <div class="card-header d-flex justify-content-between text-white bg-color-primary-3">
    <span>libelle</span>
    <span>
      <i class="fas fa-pencil-alt btn btn-sm text-white"></i>
      <i class="fas fa-times btn btn-sm text-white"></i>
    </span>
  </div>
  <div class="card-body">
    <div>
      <h5>
        <a class="" data-toggle="collapse" href="#description" role="button" aria-expanded="false" aria-controls="collapseExample">
          Description
        </a>
      </h5>
      <div class="collapse" id="collapseExample">
        <div class="">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
    <div>
      <h5>
        <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Competence
        </a>
      </h5>
      <div class="collapse" id="collapseExample">
        <div class="">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
    <div>
      <h5>
        <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Tags
        </a>
      </h5>
      <div class="collapse" id="collapseExample">
        <div class="">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
  </div>
</div>
