<form formGroup class="mt-4">
  <div class="form-group row">
    <label for="inputLibelle" class="col-sm-3 col-form-label">Libellé</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputLibelle">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPresentation" class="col-sm-3 col-form-label">Présentation</label>
    <div class="col-sm-6">
      <textarea class="form-control" name="" id="inputPresentation" rows="3"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputCompetences" class="col-sm-3 col-form-label">Compétences</label>
    <div class="col-sm-6">
      <textarea class="form-control" name="" id="inputCompetences" rows="3"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputProgramme" class="col-sm-3 col-form-label">Programme</label>
    <div class="col-sm-6">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputProgramme">
        <label class="custom-file-label" for="validatedCustomFile">Uploader le programme</label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputCritereEvaluation" class="col-sm-3 col-form-label">Critères d'évaluation</label>
    <div class="col-sm-6">
      <textarea class="form-control" name="" id="inputCritereEvaluation" rows="3"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputCritereAdmission" class="col-sm-3 col-form-label">Critères d'admission</label>
    <div class="col-sm-6">
      <textarea class="form-control" name="" id="inputCritereAdmission" rows="3"></textarea>
    </div>
  </div>
  <div class="form-group row d-flex justify-content-center mt-4">
    <button type="submit" class="btn bg-color-primary-3 btn-lg text-white ">Soumettre</button>
  </div>
</form>

