<form formGroup class="mt-4">
  <div class="form-group row">
    <label for="inputLibelle" class="col-sm-3 col-form-label">Libellé</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputLibelle">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDescriptif" class="col-sm-3 col-form-label">Description</label>
    <div class="col-sm-6">
      <textarea class="form-control" name="" id="inputDescriptif" rows="3"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputCompetences" class="col-sm-3 col-form-label">Competences</label>
    <div class="col-sm-6">
      <textarea class="form-control" name="" id="inputCompetences" rows="3"></textarea>
    </div>
  </div>

  <div class="form-group row d-flex justify-content-center mt-4">
    <button type="submit" class="btn bg-color-primary-3 btn-lg text-white ">Soumettre</button>
  </div>
</form>
