<div class="card mt-4 shadow-lg">
  <div class="card-body shadow-lg">
    <div class="row mt-4">
      <div class="col-sm">
        <h2 class="text-center">Création groupe de compétences</h2>
      </div>
    </div>
    <form [formGroup]="form" class="mt-4" (ngSubmit)="onSubmit()" >
      <div class="form-group row">
        <label for="inputLibelle" class="col-sm-3 col-form-label">Libellé</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="inputLibelle" formControlName="libelle">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputDescriptif" class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-6">
          <textarea
            class="form-control"
            id="inputDescriptif"
            rows="3"
            formControlName="descriptif">
          </textarea>
        </div>
      </div>
      <div class="form-group row" >
        <label for="inputCompetences" class="col-sm-3 col-form-label">Competences</label>

        <ng-multiselect-dropdown
          [placeholder]="'custom placeholder'"
          [data]="competencesList"
          allowSearchFilter= "true"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          (onDeSelect)="onItemDeselect($event)"
          (onDeSelectAll)="onDeselectAll($event)"
          class="col-sm-6"
        >
        </ng-multiselect-dropdown>
        <!-- <select class="selectpicker form-control col-sm-6"
          multiple
          data-live-search="true"
          #selectpicker
          data-actions-box="true"
          (change)="findCompetence(selectpicker)">
          <option *ngFor="let competence of competences" data-tokens="competence.libelle"> {{ competence.libelle }} </option>
        </select> -->
        <div class="">
          <i
            class="fas fa-plus-circle col-sm-2 mt-2"
            title="créer une nouvelle competence"
            style="cursor: pointer;"
            (click)="onClick()">
          </i>
          <i
            class="fas fa-times-circle col-sm-2 mt-2"
            title="fermer le formulaire d'ajout de competence"
            style="cursor: pointer;"
            (click)="onClose()">
          </i>
        </div>
      </div>
      <div class="form-group" *ngIf="clicked==true">
        <app-add-competence
          [fromGrpComp]="clicked"
          (createdSkillEmitter)="onAddCompetence($event)">
        </app-add-competence>
      </div>
      <!-- <div class="form-group row">
        <app-chips
          *ngFor="let competence of competences"
          [text]="competence.libelle"
          (close)="onCloseChips($event)"
          [id]="competence.id || 0"
          class="mr-sm-1"></app-chips>
      </div> -->
      <div class="form-group row d-flex justify-content-center mt-4">
        <button type="submit" class="btn bg-color-primary-3 btn-lg text-white ">Soumettre</button>
      </div>
    </form>
  </div>
</div>
